.product-image{
    border: 1px solid white;
    padding: 0.5rem;
    border-radius: 12px;
}
.product-image-in-row__url{
    width: 5vw;
    height: 10vh;
}

.product-image__url {
    width: 15vw;
    height: 30vh
}