.product-details {
    display: flex;
    flex-direction: column;
    margin: 1rem 1rem;
}

.product-details__header {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
    padding: 0.5rem;
    background-color: #4b4b4b;
    color: white;
}

.product-details__body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.5rem;
    margin: 1rem 0;
    font-size: 1.5rem;

}

.product-details__title {
    font-size: 2rem;
    font-weight: bold;
}

.product-details__description {
    font-size: 1.5rem;
}